.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-color);
    height: 75px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);

    svg.burgerMenu {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    svg.burgerMenu:hover {
        opacity: .75;
    }

    img.logoAppHeader {
        width: 150px;
        height: auto;
        position: relative;
    }
}



.sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 75px);
    position: absolute;
    top: 75px;
    left: -300px;
    width: 300px;
    background: var(--header-color);
    transition: all 0.4s ease;
}

.sideMenu.active {
    left: 0;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, .25);
    transition: all .4s ease;
}

.infoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;

    img {
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.25);
        border: 5px var(--grey) outset;
        box-sizing: border-box;
    }

    span.nameUser {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
    }
}

.itemsMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 300px);
    padding: 0 1.5rem;
    box-sizing: border-box;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: .5rem;
        text-decoration: none;
        color: var(--black);

        span.icon {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 35px;
            height: 25px;

            svg {
                width: 25px;
                height: 25px;
            }
        }

        span.titleItemMenu {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}